a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #279ae2;
}

.navbar-brand {
  color: #279ae2;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    } 

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        color: #279ae2;
    }

     .navbar-fixed-top:hover .navbar-brand:hover{
    	color: gray;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    font-family: 'Josefin Slab', serif;
    font-weight: 1000;
    font-size: 1.2em;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar .navbar-nav li a:hover {
    outline: 0;
    color: #279ae2;
}


.navbar-default,
.navbar-inverse {
    border: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

hr.star-light,
hr.star-contact {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-contact:after {
    content: "\f040";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-contact {
    border-color: #2c3e50;
}

hr.star-contact:after {
    color: #2c3e50;
    background-color: #fff;
}





hr.star-projects {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-projects:after {
    content: "\f009";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-projects {
    border-color: #2c3e50;
}

hr.star-projects:after {
    color: #2c3e50;
    background-color: #fff;
}


hr.star-info {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-info:after {
    content: "\f129";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-info {
    border-color: white;
}

hr.star-info:after {
    color: white;
    background-color: #279ae2;
}

hr.star-home {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-home:after {
    content: "\f015";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-home {
    border-color: white;
}

hr.star-home:after {
    color: white;
    background-color: #279ae2;
}


.footer-below {
      color: #fff;
    background: #279ae2;
      padding-top: 25px;
  padding-bottom: 20px;

}



section.about, .home {
    color: #fff;
    background: #279ae2;
    padding-top: 100px;
    padding-bottom: 50px;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}


.secondary-pills > .nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  background-color: inherit;
  color: #279ae2;
  font-weight: bold;
  border-bottom: none;
  text-decoration: none;
}

.secondary-pills > .nav-pills > li > a, .nav-pills > li.active > a:hover {
  background-color: inherit;
  color: #279ae2;
  text-decoration: none;
}

.secondary-pills > .nav-pills > li > a:hover  {
  background-color: inherit;
  color: #279ae2;
  font-weight: bold;
  border-bottom: none;

}

.secondary-pills > .nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: black;
  font-weight: bold;
}

.secondary-pills > .nav-pills > .active > a:focus {
  background-color: inherit;
  color: #279ae2;
}

.projects-tabs-align {
	margin-left: -30px;
}





.portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

.portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(39,154,226,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

.portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

.portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

.portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.myoozik-title {
	color: red;
}

.pixal-title {
	color: #C62ADD;
}

.subs-bench-title {
	color: #279ae2;
}

.taskflow-title {
  color: #27E29A;
}

.fuseweb-title {
  color: #00FFFF;
}

.isitout-title {
  color: #fa660d;
}

.img-centered {
    margin: 0 auto;
}

.btn-isitout {
  background-color: #fa660d;
  color: white;
}

.btn-pixel {
  background-color: #C62ADD;
  color: white;
}

.btn-myoozik {
  background-color: red;
  color: white;
}

.btn-subsbench {
  background-color: #279ae2;
  color: white;
}

.btn-taskflow {
  background-color: #27E29A;
  color: white;
}

.btn-fuseweb {
  background-color: #00FFFF;
  color: white;
}



/*----------------------------------------------------------------------------- 
=SOCIAL-MEDIA ICONS
-----------------------------------------------------------------------------*/

.fa-twitter{
    color: gray;
    font-size: 18px;
}

.fa-twitter:hover {
    color: #4099FF;
    font-size: 18px;
    text-decoration: none;
}

.fa-facebook{
    color: gray;
    font-size: 18px;
}

.fa-facebook:hover {
    color: #3B5998;
    font-size: 18px;
    text-decoration: none;
}

.fa-vine{
    color: gray;
    font-size: 18px;
}

.fa-vine:hover {
    color: #00bf8f;
    font-size: 18px;
    text-decoration: none;
}

.fa-youtube{
    color: gray;
    font-size: 18px;
}

.fa-youtube:hover {
    color: #bb0000;
    font-size: 18px;
    text-decoration: none;
}

.fa-instagram{
    color: gray;
    font-size: 18px;
}

.fa-instagram:hover {
    color: #517fa4;
    font-size: 18px;
    text-decoration: none;
}

/*----------------------------------------------------------------------------- 
=HOME SOCIAL-MEDIA ICONS
-----------------------------------------------------------------------------*/

.home-social .fa-twitter{
    color: white;
    font-size: 22px;
        border: 1px white solid;
    padding:4px;
}

.home-social .fa-twitter:hover {
    color: #4099FF;
    font-size: 22px;
    text-decoration: none;
    background-color: white;
}

.home-social .fa-facebook{
    color: white;
    font-size: 22px;
        border: 1px white solid;
    padding:4px;
}

.home-social .fa-facebook:hover {
    color: #3B5998;
    font-size: 22px;
    text-decoration: none;
    background-color: white;
}

.home-social .fa-vine{
    color: white;
    font-size: 22px;
        border: 1px white solid;
    padding:4px;
}

.home-social .fa-vine:hover {
    color: #00bf8f;
    font-size: 22px;
    text-decoration: none;
    background-color: white;
}

.home-social .fa-youtube{
    color: white;
    font-size: 22px;
        border: 1px white solid;
    padding:4px;
}

.home-social .fa-youtube:hover {
    color: #bb0000;
    font-size: 22px;
    text-decoration: none;
    background-color: white;
}


.home-social .fa-instagram{
    color: white;
    font-size: 22px;
    border: 1px white solid;
    padding:4px;
}

.home-social .fa-instagram:hover {
    color: #517fa4;
    font-size: 22px;
    text-decoration: none;
    background-color: white;
}

.fa-globe {
    font-size: 200px;
}


.navbar .navbar-nav li.active>a{
    color: #279ae2;
    background-color: transparent;
     border-bottom: 2px #279ae2 solid;


}

.navbar .navbar-nav li.active>a:hover{
    color: #279ae2;
    background-color: transparent;
     border-bottom: 2px #279ae2 solid;


}



.large-title {
  font-size: 50px;
}